/* Tags */
body{
	background: radial-gradient(circle,brown,black);
	font-family: 'Open Sans', sans-serif;
	font-family: 'IM Fell Double Pica', serif;
	border-radius: 30px;
}

h1{
	text-shadow: 1px 1px black;

}

div{
	background-color: #ffb366;
}

ol{
	list-style: decimal inside; 
}

ul {
	list-style: circle;
}


/* Classes */
.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;  
}

.instructions{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #e5d4ac;
	border-radius: 30px;
	border-style: dotted;

}
.gems{
	background-color: white;
	border-radius: 30px;
	background-color: white;
	border-style:dotted;
}

.userTotal{
	color: yellow;
	text-shadow: 1px 1px black;

}

.numberToMatch{
	color: yellow;
	text-shadow: 1px 1px black;
}


/* IDs */
#blue{
	color: #4259f4;
}
#green{
	color: #129123;
}
#red{
	color: #b7180c;
}
#yellow{
	color: yellow;
}
